<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OpenSpaceX web page</title>
    <link rel="stylesheet" href="openspacex_web.css">
    <script type="text/javascript" src="openspacex_web.js"></script>
</head>
<body onload=onPageLoad()>
    <h1>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/de/SpaceX-Logo.svg/2560px-SpaceX-Logo.svg.png" class="spacex_logo"/>
        Open SpaceX: information insights
    </h1>

    <div style="display: block;">

        <div id="statistics">
            <label for="year_select">Show statistics for:</label><select id="year_select" name="Year" onchange=reload()></select>

            <div id="loader"></div>

            <div id="fact_list">
                <p id="launch_cnt"></p>
                <p id="success_rate"></p>
                <p id="cost"></p>
                <p id="crew_size"></p>
                <p id="weight"></p>
            </div>
        </div>


        <div id="next_launch">
            <p>Information about the next launch:</p>

            <img id="launch_logo">

            <div class="description">
                <p id="name"></p>
                <p id="date"></p>
                <p id="rocket"></p>
            </div>
        </div>
    </div>

    <div id="rockets">
        <h2>SpaceX Rockets</h2>
    </div>
</body>
</html>