select {
    margin-left: 10px;
    padding: 5px;
}

#fact_list {
    margin-left: 25px;
    display: none;
}

#statistics {
    position: relative;
    left: 50px;
    max-width: 40%;
    display: inline-block;
    padding: 25px;
    border-radius: 25px;
}

.image {
    margin-left: 2%;
    float: left;
    height: 100px;
    width: 100px;
    display: inline-block
}

#loader {
    position: absolute;
    z-index: 1;
    top: 150px;
    left: 150px;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border: 20px solid #e3e3e3;
    border-radius: 50%;
    border-top: 20px solid #3699df;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

hr.solid {
    border-top: 3px solid #bbb;
}

#rockets {
    max-width: 90%;
    left: 50px;
    padding: 25px;
    display: none;
}

#next_launch {
    max-width: 50%;
    position: absolute;
    left: 50%;
    border-radius: 25px;
    padding: 25px;
    display: none;
}

.description {
    margin-left: 20px;
    display: inline-block;
}

.spacex_logo {
    margin-left: 25px;
    height: 60px;
}
