select {
    margin-left: 1%;
    padding: 5px;
}

#fact_list {
    margin-left: 2%;
    display: none;
}

#statistics {
    position: absolute;
    height: 35%;
    left: 8%;
    width: 38%;
    display: inline-block;
    padding: 1% 1% 0 2%;
    border-radius: 25px;
    background: #bde0eb;
}

.image {
    margin-left: 2%;
    float: left;
    height: 100px;
    width: 100px;
    display: inline-block
}

#loader {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border: 20px solid #fff;
    border-radius: 50%;
    border-top: 20px solid #3699df;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

hr.solid {
    border-top: 1px solid #aeaeae;
}

#rockets {
    position: absolute;
    width: 81%;
    left: 8%;
    margin-top: 2%;
    padding: 2% 2% 2% 2%;
    display: none;
    border-radius: 25px;
    top: 50%;
    background: #bde0eb;
}

#next_launch {
    width: 40%;
    position: absolute;
    left: 50%;
    border-radius: 25px;
    padding: 1% 1% 0 2%;
    display: none;
    height: 35%;
    background: #bde0eb;
}

.description {
    margin-left: 2%;
    display: inline-block;
}

.spacex_logo {
    margin-left: 2%;
    height: 60px;
}
